<section class="full-h pb-4 mb-4">
  <h1 class="text-center fw-semibold mt-4 pt-2 page-title">Missions</h1>
  <p class="text-center text-gray pb-4">Projets réalisés hors épreuve E6</p>

  <div class="col-12 gap-4 mt-4 pt-4 justify-content-center d-flex flex-wrap">
    <a href="/realisations/clickneat" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
      <h4 class="fw-semibold text-center">Click&Eat</h4>
      <div class="project-icon-box">
        <img src="/public/img/icons/logo-laravel.svg" alt="" />
        <img src="/public/img/icons/logo-mysql.png" alt="" />
        <img src="/public/img/icons/logo-tailwind.svg" alt="" />
    
      </div>
    </a>
    <a href="/realisations/ovnyl" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
      <h4 class="fw-semibold text-center">Ovnyl</h4>
      <div class="project-icon-box">
        <img src="/public/img/icons/logo-js.png"/>
        <img src="/public/img/icons/logo-bootsrap.png"/>
        <img src="/public/img/icons/logo-php.png"/>
      </div>
    </a>
    <a href="/realisations/webtraining" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
      <h4 class="fw-semibold text-center">Webtraining</h4>
      <div class="project-icon-box">
        <img src="/public/img/icons/logo-php.png" alt="" />
        <img src="/public/img/icons/logo-mysql.png" alt="" />
        <img src="/public/img/icons/logo-bootsrap.png" alt="" />
        <img src="/public/img/icons/logo-html.png" alt="" />
        <img src="/public/img/icons/logo-css.png" alt="" />
      </div>
    </a>
    <a href="/realisations/apple" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
      <h4 class="fw-semibold text-center">Intégration Apple</h4>
      <div class="project-icon-box">
        <img src="/public/img/icons/logo-html.png" alt="" />
        <img src="/public/img/icons/logo-css.png" alt="" />
      </div>
    </a>

    <a href="/realisations/calculatrice-js" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
      <h4 class="fw-semibold text-center">Calculatrice JS</h4>
      <div class="project-icon-box">
        <img src="/public/img/icons/logo-js.png"/>
        <img src="/public/img/icons/logo-html.png"/>
        <img src="/public/img/icons/logo-css.png"/>
      </div>
    </a>

    <a href="/realisations/calculatrice-pret-immo" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
      <h4 class="fw-semibold text-center">Calculatrice prêt immobilier</h4>
      <div class="project-icon-box">
        <img src="/public/img/icons/logo-js.png"/>
        <img src="/public/img/icons/logo-html.png"/>
        <img src="/public/img/icons/logo-css.png"/>
        <img src="/public/img/icons/logo-electron-js.png"/>
      </div>
    </a>

    <!-- <a href="/realisations/meteo-react" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
      <h4 class="fw-semibold text-center">Météo react</h4>
      <div class="project-icon-box">
        <img src="/public/img/icons/logo-react.png"/>
        <img src="/public/img/icons/logo-html.png"/>
        <img src="/public/img/icons/logo-css.png"/>
      </div>
    </a> -->

    <a href="/realisations/ciecotecour" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
      <h4 class="fw-semibold text-center">Companie coté cour</h4>
      <div class="project-icon-box">
        <img src="/public/img/icons/logo-wordpress.png"/>
        <img src="/public/img/icons/logo-php.png"/>
      </div>
    </a>

    <a href="/realisations/pepitepeps" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
      <h4 class="fw-semibold text-center">PéPite Pep's</h4>
      <div class="project-icon-box">
        <img src="/public/img/icons/logo-wordpress.png"/>
        <img src="/public/img/icons/logo-php.png"/>
      </div>
    </a>


  </div>
</section>
