@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --main-color:  #579CE0;
    --primary-text-color: #212529;
    --paragraph-color: #6A737C;
    --background-color: white;
    --theme-transition: 0.5s;
    --footer-bgcolor:#e2e6e9;
    --bg-gray: #e2e6e9;
    --scrollbar-thumb:#c6ccd2;
    --scrollbar:#e2e6e9;
}

/* Scrollbar */
::-webkit-scrollbar {
    width:0.6rem;
    background-color:var(--scrollbar);
    border-radius:0.5rem
}
    
::-webkit-scrollbar-thumb {
    background-color:var(--scrollbar-thumb);
    border-radius:0.5rem;
}
    
::-webkit-scrollbar-thumb:hover {
    background-color:#9fa6ad;
}

h1, h2, h3, h4,h5:not(.staywhite), h6,a,i:not(.staywhite) {
    color: var(--primary-text-color) !important;
    transition: var(--theme-transition);
}

body{
    background-color: var(--background-color);
    transition: var(--theme-transition);
}

footer{
    background-color: var(--footer-bgcolor);
}

.gray-footer{
    background-color: var(--footer-bgcolor);
}
p{
    color: var(--paragraph-color);
}

*{
    font-family: "Poppins";
    margin: 0;
}
h5,p{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

header ul{
    list-style: none;
}

.no-animation{
    transition: 0s;
}

ul {
    list-style-type: circle;
  }

.selected a, .selected i, .selected h5{
    color: var(--main-color) !important;
}

.text-gray, .text-gray:not(.selected) h5{
    /* color: #6A737C !important; */
    color: var(--paragraph-color) !important;
}

.primary-color{
    color: var(--primary-text-color);
}

.bg-blue{
    background-color:  var(--main-color);
}

.bg-gray{
    background-color: var(--bg-gray);
}


.text-white{
    color: white;
}
.land-icons{
    transition: 0.2s;
}

.land-icons:hover{
    background-color: #4387cb;
}

#logo{
    transition: 0.2s color;
}
#logo:hover{
    color:  var(--main-color);
}

#navbar li{
    font-size: 14px;
    transition: 0.2s color;
    
}

#navbar li:hover{
    color:  var(--main-color);
}

#theme-button{
    transition: 0.2s ;
}

.header-icons{
    font-size: 20px;
}


#theme-button:hover{
    color:  var(--main-color);
    transform: rotate(20deg);
}

.home-section{
    min-height: calc(90vh - 78px);
}






@media (max-width: 767px) {
    #navbar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: var(--background-color);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: bottom 0.5s ease; 
    }
 
  }

.journey-line{
    width: 2px;
    height: calc(100% - 14px);
    background-color:  var(--main-color);
}


.dots{
    height: 14px;
    width: 14px;
    background-color: var(--main-color);
    border-radius: 50%;
 
}


.dynamic-paragraph{
    font-size: calc(14px + 0.3vw);
}

#journey-section{
    min-height: 100vh;
}

.journeyContainers > div{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

#footer-title{
    margin-bottom: -10px;
}




.full-h{
    min-height: calc(100vh - 78px);
}

.project-box{
    width: 400px;
    height: 230px;
    border: 3px solid var(--primary-text-color);
    transition: 0.3s background-color;
}

.project-box:hover{
    background-color: #579be07c;
} 

.project-icon-box img{
    height: 35px;
}

.project-img{
    border: 3px solid black;
}

.dynamic-h5{
    font-size: calc(15px + 0.5vw);
}

.projects-icon-list img{
    height: 50px;
}


.hover-underline:hover {
    text-decoration: underline;
}