<section class="full-h">

    <h1 class="text-center fw-semibold mt-4 pt-2 page-title">Veille</h1>
    <p class="text-center text-gray pb-4">Mes sujets de veille</p>


    <h4 class="fw-semibold text-center mt-4 mb-4">Qu'est-ce que la veille technologique ?</h4>

    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6">La veille technologique consiste à surveiller les évolutions techniques, les innovations dans un secteur d’activité donnée. La veille technologique comprend notamment la surveillance, la collecte, le partage et la diffusion d’information permettant d’anticiper ou de s’informer sur des changements en matière de recherche, développement, brevet, lancement de nouveaux produits, matériaux, processus, concepts, innovation de fabrication, etc…. Cela a pour but d’évaluer l’impact sur l’environnement et l’organisation.</p>

    <h4 class="fw-semibold text-center mt-4 mb-4">Les principaux outils de ma veille</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6 mb-4 pb-4">J'ai effectuer ma veille technologique grace à Feedly, Twitter, youtube . En plus des informations fournis chaque semaine/mois, j'ai quelque sites en favoris permettant de me tenir au courant des derniéres actualités tel que Hitek.fr qui est un site internet regroupant l’actualité High Tech et Geek, ou encore Hardware.fr un site regroupant l'actualité sur les processeurs, les cartes graphiques, les cartes méres, ect...</p>

    <h4 class="fw-semibold text-center mt-4 mb-4">Mes sujets de veille</h4>
    <div class="col-10 m-auto d-flex justify-content-center align-items-center gap-3 flex-wrap">
        <a href="/veille/frameworks-javascript" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
            <h4 class="fw-semibold text-center">Frameworks JavaScript</h4>
           
        </a>
        <a href="/veille/ia-cybersecuritee" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
            <h4 class="fw-semibold text-center">L'IA en cybersécuritée</h4>
           
        </a>
        <!-- <a href="/veille/frameworks-javascript" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
            <h4 class="fw-semibold text-center">Frameworks JavaScript</h4>
           
        </a> -->
    </div>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6 mb-4 pb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro mollitia totam aut, ipsa voluptas veritatis rem? Impedit fugit quidem ipsam consectetur, minus corrupti sed quia a error, obcaecati veniam consequatur.</p>
</section>








