<section class="full-h">
    <h1 class="text-center fw-semibold mt-4 pt-2 page-title mb-5">Compétences</h1>
  
    <div class="col-6 m-auto">
        <h3 class="fw-semibold my-4">Gérer le patrimoine informatique</h3>
        <ul>
            <li><a href="/realisations/clickneat#competences">Click&Eat</a></li>
        </ul>
        <h3 class="fw-semibold my-4">Répondre aux incidents et aux demandes d’assistance et d’évolution</h3>
        <ul>
            <li></li>
        </ul>
        <h3 class="fw-semibold my-4">Développer la présence en ligne de l’organisation</h3>
        <ul>
            <li></li>
        </ul>
        <h3 class="fw-semibold my-4">Travailler en mode projet</h3>
        <ul>
            <li></li>
        </ul>
        <h3 class="fw-semibold my-4">Mettre à disposition des utilisateurs un service informatique</h3>
        <ul>
            <li></li>
        </ul>
        <h3 class="fw-semibold my-4">Organiser son développement professionnel</h3>
        <ul>
            <li></li>
        </ul>
    </div>
</section>  