---
interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="px-4 py-1 bg-white/80 cursor-pointer border-2 rounded-xl flex items-center justify-center font-bold text-xl gap-2"
>
  {name}
  <slot name="icon" />
</a>
