<section class="full-h">
    <h1 class="text-center fw-semibold mt-4 pt-2 page-title">Projets</h1>
    <p class="text-center text-gray pb-4">Projets réalisés pour l'épreuve E5</p>

    <div class="col-12 gap-4 mt-4 pt-4 justify-content-center d-flex flex-wrap">
        <a href="projets/webtraining" class="project-box rounded-4 d-flex align-items-center justify-content-center flex-column">
          <h4 class="fw-semibold text-center">Webtraining</h4>
          <div class="project-icon-box">
            <img src="public/img/icons/logo-php.png" alt="" />
            <img src="public/img/icons/logo-bootsrap.png" alt="" />
            <img src="public/img/icons/logo-html.png" alt="" />
            <img src="public/img/icons/logo-css.png" alt="" />
           
          </div>
        </a>
    
    
    
      </div>
</section>  