---
import InteractiveGrid from '../components/InteractiveGrid.vue';
import '../assets/css/main.css';
---
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>Mattis Babin | Développeur Concepteur</title>
		<meta name="title" content="Mattis Babin | Développeur Concepteur">
		<meta name="description" content="Étudiant en Bachelor CDA, je recherche une alternance en développement . Spécialisé Symfony & Vue.js.">
		<meta name="keywords" content="Mattis Babin, Développeur web, Laravel, Vue.js, React, React Native, Next.js, Tailwind, Git, MariaDB, PHP, JavaScript, HTML, CSS">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="French">
		<meta name="author" content="Mattis Babin">

	</head>
	<body>
			<InteractiveGrid client:load />
		<slot />
	</body>
</html>


