---
import InteractiveGrid from '../components/InteractiveGrid.vue';
import '../assets/css/main.css';
---
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	
		<title>Mattis Babin | Développeur Concepteur</title>
		<meta name="title" content="Mattis Babin | Développeur Concepteur">
		<meta name="description" content="Étudiant en Bachelor CDA, je recherche une alternance en développement . Spécialisé Symfony & Vue.js.">
		<meta name="keywords" content="Mattis Babin, Développeur web, Laravel, Vue.js, React, React Native, Next.js, Tailwind, Git, MariaDB, PHP, JavaScript, HTML, CSS">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="French">
		<meta name="author" content="Mattis Babin">

		<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg">
        <link rel="shortcut icon" href="/images/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
        <meta name="apple-mobile-web-app-title" content="Mattis Babin | Développeur web">
        <link rel="manifest" href="/images/favicon/site.webmanifest">

	</head>
	<body>
			<InteractiveGrid client:load />
		<slot />
	</body>
</html>


