<section class="full-h">
    <h1 class="text-center fw-semibold mt-4 pb-4 mb-4 pt-2 page-title">Mentions légales</h1>

    <h4 class="fw-semibold text-center mt-4 mb-4">1. Présentation du site</h4>

    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6">Le site mattisbabin.fr est un portfolio personnel créé par Babin Mattis, dans le but de présenter mes travaux et projets professionnels.</p>

    <ul class="mt-4  dynamic-paragraph text-nowrap list-unstyled m-auto text-gray d-flex flex-column col-xl-4 col-lg-5 col-md-6 col-sm-7 col-11">
        <li><p>Propriétaire : Mattis Babin</p></li>
        <li><p>Adresse : Angers, France</p></li>
        <li><p>Email : mattisbbnpro@gmail.com</p></li>
    </ul>
    
    <h4 class="fw-semibold text-center mt-4 mb-4">2. Hébergement</h4>

    <ul class="dynamic-paragraph text-nowrap list-unstyled m-auto text-gray d-flex flex-column col-xl-4 col-lg-5 col-md-6 col-sm-7 col-11">
        <li><p>Nom de l’hébergeur : </p></li>
        <li>Adresse : [Adresse de l’hébergeur]</li>
        <li>Téléphone : [Numéro de téléphone de l’hébergeur]</li>
        <li>Site web de l'hébergeur : [URL de l’hébergeur]</li>
    </ul>

    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6"></p>
    <h4 class="fw-semibold text-center mt-4 mb-4">3. Propriété intellectuelle</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6">L'ensemble du contenu du site (textes, images, graphismes, logo, etc.) est la propriété de Mattis Babin ou de ses partenaires. Toute reproduction, même partielle, de ce contenu est interdite sans autorisation préalable.</p>
    <h4 class="fw-semibold text-center mt-4 mb-4">4. Données personnelles</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6">Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d'un droit d'accès, de rectification et d'opposition aux données personnelles vous concernant. Pour exercer ce droit, vous pouvez me contacter à l'adresse suivante : mattisbbnpro@gmail.com.</p>
    <h4 class="fw-semibold text-center mt-4 mb-4">5. Responsabilité</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6">mattisbabin.fr ne saurait être tenu responsable des erreurs ou omissions dans le contenu du site, ni des dommages directs ou indirects résultant de l'utilisation du site.</p>
    <h4 class="fw-semibold text-center mt-4 mb-4">6. Liens externes</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6">Des liens vers des sites externes peuvent être présents sur le site. mattisbabin.fr ne pourra être tenu responsable des contenus de ces sites.</p>
    <h4 class="fw-semibold text-center mt-4 mb-4">7. Cookies</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6 mb-4 pb-4">Le site utilise des cookies pour améliorer l’expérience utilisateur. En utilisant ce site, vous acceptez l’utilisation de ces cookies conformément à la politique de confidentialité.</p>

</section>