<section class="full-h">
    <h1 class="text-center fw-semibold mt-4 mb-4 pt-2 page-title">Click&Eat | Documentation</h1>

    <div class="col-8 m-auto">
        <h2 class="text-center fw-semibold mt-4 mb-4 pt-2">Base de données : </h2>

        <h3>Dictionnaires de données :</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom de la table</th>
                    <th>Fichier PDF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Allergenes</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_allergenes.pdf">Dico_clickneat_allergenes.pdf</a></td>
                </tr>
                <tr>
                    <td>Carts</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_carts.pdf">Dico_clickneat_carts.pdf</a></td>
                </tr>
                <tr>
                    <td>Categories</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_categories.pdf">Dico_clickneat_categories.pdf</a></td>
                </tr>
                <tr>
                    <td>Ingredients</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_ingredients.pdf">Dico_clickneat_ingredients.pdf</a></td>
                </tr>
                <tr>
                    <td>Items</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_items.pdf">Dico_clickneat_items.pdf</a></td>
                </tr>
                <tr>
                    <td>Orders</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_orders.pdf">Dico_clickneat_orders.pdf</a></td>
                </tr>
                <tr>
                    <td>Orders_items</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_orders_items.pdf">Dico_clickneat_orders_items.pdf</a></td>
                </tr>
                <tr>
                    <td>Reservations</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_reservations.pdf">Dico_clickneat_reservations.pdf</a></td>
                </tr>
                <tr>
                    <td>Restaurants</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_restaurants.pdf">Dico_clickneat_restaurants.pdf</a></td>
                </tr>
                <tr>
                    <td>Tables</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_tables.pdf">Dico_clickneat_tables.pdf</a></td>
                </tr>
                <tr>
                    <td>Users</td>
                    <td><a target="_blank" href="/doc/clickneat/dictionnaire/Dico_clickneat_users.pdf">Dico_clickneat_users.pdf</a></td>
                </tr>
            </tbody>
        </table>

        <h3>Modèle Conceptuel des Données :</h3>
    </div>
   
        <div class="d-flex justify-content-center  pb-4">
            <a href="https://clickneat.mattisbabin.fr" target="_blank" class="text-white fw-medium dynamic-paragraph bg-blue p-3 m-1 rounded-3 land-icons border-0">Acceder au site</a>
        </div>
</section>