<h1 class="text-center fw-semibold mt-4 pt-2 page-title">Entreprise</h1>
<p class="text-center text-gray pb-4">L'entreprise ou j'effectue mon alternance</p>
    <h4 class="fw-semibold text-center mt-4 mb-4">Description</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6">Akoufen, créée en 2004 à Angers par trois associés, est une agence spécialisée dans la création de supports de communication visuelle et de sites web. À ses débuts, elle collabore principalement avec le secteur culturel et musical. En 2019, Akoufen vend "Stickers Discount", représentant 85% de son chiffre d'affaires, et recentre son activité sur la création de sites web pour TPE/PME locales. En 2020, l'entreprise est rachetée par la famille Cherbonnier, incluant Jérémy, employé depuis 2006, et déménage à Brissac Loire Aubance, rejoignant l'imprimerie artisanale La Botellerie.</p>

    <h4 class="fw-semibold text-center mt-4 mb-4">Effectif</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6">d.</p>


    <h4 class="fw-semibold text-center mt-4 mb-4">Mon role au sein de Akoufen</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6 mb-4 pb-4">En tant que développeur web à Akoufen-La Botellerie, je m'occupe de la concevoir et maintenir les site web des clients. La majorité des sites web sont avec Wordpress ou en PHP vanilla.</p>

        
    <h4 class="fw-semibold text-center mt-4 mb-4">Missions réalisées</h4>
    <p class="dynamic-paragraph m-auto text-gray col-11 col-md-8 col-lg-6 mb-4 pb-4">
</p>