<section class="col-11 col-md-10 col-lg-8 col-xl-6 d-flex justify-content-center h-100 align-items-center flex-column m-auto home-section ">

    <h1 class="display-4 fw-semibold text-center mb-4">Qu'est ce que le BTS SIO</h1>
    <p class="mt-4 mb-4 text-gray dynamic-paragraph fw-medium">Le <b> Brevet de Technicien Supérieur aux Services Informatiques aux Organisations (BTS SIO)</b>, s'adresse à ceux qui souhaitent se former en deux ans aux métiers d'administrateur réseau ou de développeur. Pour par la suite intégré directement le marché du travail ou continuer des études, dans le domaine de l'informatique.</p>


    <h2 class=" fw-semibold fs-3 text-center mb-4 mt-4">Le BTS SIO propose deux spécialités :</h2>

    <h5 class="mt-4 fw-semibold">L'option SISR</h5>

    <p class="mt-4 mb-4 text-gray dynamic-paragraph">
        Le BTS SIO option SISR <b>(Solutions d'Infrastructure, Systèmes et Réseaux)</b>,
        forme des professionnels spécialisés dans la conception, la mise en place et la gestion des infrastructures informatiques
        et des réseaux au sein des entreprises.
        <br><br>
        Les étudiants développent des compétences en administration des systèmes,
        virtualisation, sécurité des réseaux, gestion des services réseau, et support technique. 
        <br><br>
        Ce diplôme offre des débouchés
        dans l'administration des systèmes et réseaux, la sécurité informatique, la gestion de parc informatique, ou encore le
        déploiement de solutions réseau.
    </p>
    <h5 id="option-slam" class="mt-4 fw-semibold">L'option SLAM</h5>
    <p class="mt-4 mb-4 text-gray dynamic-paragraph pb-4">
        Le BTS SIO option SLAM <b> (Solutions Logicielles et Applications Métiers)</b>,
         forme des professionnels capables de concevoir, développer et maintenir des solutions logicielles adaptées aux besoins
         des entreprises.
         <br><br>
         Les étudiants acquièrent des compétences en développement d'applications, gestion de projet informatique,
         bases de données, langages de programmation, sécurité des systèmes d'information, et technologies web.
         <br><br>
         Ce diplôme offre
         des débouchés dans le développement d'applications, la gestion de projets informatiques, l'administration de systèmes et réseaux,
         et le support technique
     </p>
</section>

