<section id="journey-section" class="col-11 col-md-8 col-lg-6 d-flex justify-content-center h-100 align-items-center flex-column m-auto home-section ">
    <h1 class="display-5 fw-semibold">Mon parcours</h1>


    <div class="d-flex dynamic-paragraph">

        <div class="d-flex align-items-center p-3 journeyButtons text-gray selected">
            <i class="uil uil-graduation-cap fs-3 p-2"></i>
            <h5>Scolaire</h5>
        </div>

        <div class="d-flex text-gray dynamic-paragraph align-items-center p-3 journeyButtons">
            <i class="uil uil-briefcase-alt fs-3 p-2"></i>
            <h5>Professionel</h5>
        </div>
    </div>

    <div class="col-12 d-flex flex-column journeyContainers" >

        <div class=" justify-content-between">
            <div class=" d-flex flex-column align">
                <h5 class="mb-2 dynamic-h5 d-flex">MyDigitalSchool</h5>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-graduation-cap me-2"></i>
                    <p> BTS SIO</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph fs-sm-1">
                    <i class="uil uil-map-marker me-2"></i>
                    <p> Belle-beille</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-calendar-alt me-2"></i>
                    <p> 2023 - Actuellement</p>
                </div>
            
            </div>
            <div class="middle-journey-line ms-2 me-2 ms-md-4 me-md-4  d-flex justify-content-center align-items-center flex-column">
                <span class="dots"></span>
                <span class="journey-line"></span>
            </div>
            <div class="">
               
            </div>
        </div>


        <div class="justify-content-between">
      
            <div class="">
               
            </div>
            <div class="middle-journey-line ms-2 me-2 ms-md-4 me-md-4 d-flex justify-content-center align-items-center flex-column ">
                <span class="dots"></span>
                <span class="journey-line"></span>
            </div>
            <div class="">
                <h5 class="mb-2 dynamic-h5">Saint Aubin La Salle Lycée</h5>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-graduation-cap me-2"></i>
                    <p> BAC PRO SN</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-map-marker me-2"></i>
                    <p> Verrieres-sur-Anjou</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-calendar-alt me-2"></i>
                    <p> 2020 - 2023</p>
                </div>
            
            </div>
        </div>

        <div class="justify-content-between">
            <div class="">
                <h5 class="mb-2 dynamic-h5">Saint-Vincent College</h5>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-graduation-cap me-2"></i>
                    <p> DNB</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-map-marker me-2"></i>
                    <p> Brissac-Quincé</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-calendar-alt me-2"></i>
                    <p> 2016 - 2020</p>
                </div>
            
            </div>
            <div class="middle-journey-line ms-2 me-2 ms-md-4 me-md-4 d-flex justify-content-center align-items-center flex-column ">
                <span class="dots"></span>
                <span class="journey-line"></span>
            </div>
            <div class="">
               
            </div>
        </div>
    </div>




    <div class="col-12 flex-column d-none journeyContainers" >

        <div class="justify-content-between">
            <div class=" d-flex flex-column align">
                <h5 class="mb-2 dynamic-h5 d-flex">Akoufen</h5>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-briefcase-alt me-2"></i>
                    <p> Alternance</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph fs-sm-1">
                    <i class="uil uil-map-marker me-2"></i>
                    <p> Brissac-Quincé</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-calendar-alt me-2"></i>
                    <p> 2024 - Actuellement</p>
                </div>
            
            </div>
            <div class="middle-journey-line ms-2 me-2 ms-md-4 me-md-4 d-flex justify-content-center align-items-center flex-column">
                <span class="dots"></span>
                <span class="journey-line"></span>
            </div>
            <div class="">
               
            </div>
        </div>


        <div class="justify-content-between">
      
            <div class="">
               
               </div>
            <div class="middle-journey-line ms-2 me-2 ms-md-4 me-md-4 d-flex justify-content-center align-items-center flex-column ">
                <span class="dots"></span>
                <span class="journey-line"></span>
            </div>
            <div class="">
                <h5 class="mb-2 dynamic-h5">MyMicro</h5>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil uil-briefcase-alt me-2 me-2"></i>
                    <p> Alternance</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-map-marker me-2"></i>
                    <p> Thouarcé et Angers</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-calendar-alt me-2"></i>
                    <p> Septembre 2023</p>
                </div>
            
            </div>
        </div>

        <div class="justify-content-between">
            <div class="">
                <h5 class="mb-2 dynamic-h5">Electroniques Services</h5>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil uil-briefcase-alt me-2 me-2"></i>
                    <p> Stage</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-map-marker me-2"></i>
                    <p> St-Melaine-sur-Aubance</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-calendar-alt me-2"></i>
                    <p> Novembre 2022 - Janvier 2023 / Mai 2022</p>
                </div>
            
            </div>
            <div class="middle-journey-line ms-2 me-2 ms-md-4 me-md-4 d-flex justify-content-center align-items-center flex-column ">
                <span class="dots"></span>
                <span class="journey-line"></span>
            </div>
            <div class="">
               
            </div>
        </div>
        <div class="justify-content-between">
      
            <div class="">
               
               </div>
            <div class="middle-journey-line ms-2 me-2 ms-md-4 me-md-4 d-flex justify-content-center align-items-center flex-column ">
                <span class="dots"></span>
                <span class="journey-line"></span>
            </div>
            <div class="">
                <h5 class="mb-2 dynamic-h5">Pulstat Dimension K</h5>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil uil-briefcase-alt me-2 me-2"></i>
                    <p> Stage</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-map-marker me-2"></i>
                    <p> Les ponts-de-Cé</p>
                </div>
                <div class="d-flex text-gray dynamic-paragraph">
                    <i class="uil uil-calendar-alt me-2"></i>
                    <p> Juin 2021</p>
                </div>
            
            </div>
        </div>

   

    </div>
</section>

<script src="public/script/journey.js"></script>