<section id="landpage" class="col-10 col-md-8 col-lg-6 d-flex justify-content-center align-items-center m-auto home-section">

    <div>
        <h1 class="display-4 fw-semibold">Mas Babin</h1>
        <h5 class="text-gray fw-medium ">Développeur web</h5>

        <p class="text-gray mb-5 mt-2 dynamic-text dynamic-paragraph col-12 col-md-10">
            Je m'appelle Mattis, j'ai 18 ans et je suis actuellement en seconde année du 
            <a class="" href="#option-slam" > <u>BTS SIO option SLAM</u> </a>
            à MyDigitalSchool. J'aime toucher à tout et être autonome sur les projets que l'on me confie.
        </p>

        <div class="d-flex flex-wrap">
            <a class="text-white fw-medium dynamic-paragraph bg-blue p-3 m-1 rounded-3 land-icons" target="_blank" href="">Mon CV <i class="uil uil-download-alt staywhite"></i></a>
            <a class="text-white fw-medium dynamic-paragraph bg-blue p-3 m-1 rounded-3 land-icons" target="_blank" href="https://github.com/Mattisbbn">Github <i class="uil uil-github staywhite"></i></a>
            <a class="text-white fw-medium dynamic-paragraph bg-blue p-3 m-1 rounded-3 land-icons" target="_blank" href="https://www.linkedin.com/in/mattisbbn/">Linkedin <i class="uil uil-linkedin staywhite"></i></a>
        </div>
    </div>
    
</section>